<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />

        <rule name="Retired home URL to site root" stopProcessing="true">
          <match url="^home(?:\.html)?$" ignoreCase="true" />
          <action type="Redirect" url="https://azcprplus.com/" redirectType="Permanent" />
        </rule>

        <rule name="Index file to site root" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="true" />
          <action type="Redirect" url="https://azcprplus.com/" redirectType="Permanent" />
        </rule>

        <rule name="HTML files to clean URLs" stopProcessing="true">
          <match url="^(.+)\.html$" ignoreCase="true" />
          <action type="Redirect" url="https://azcprplus.com/{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>

        <rule name="Canonical HTTPS non-www host" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^azcprplus\.com$" negate="true" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://azcprplus.com/{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>

        <rule name="Serve extensionless HTML routes" stopProcessing="true">
          <match url="^(.+?)/?$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{DOCUMENT_ROOT}\{R:1}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
